/* Global  */

@font-face {
  font-family: SFProText;
  src: url(../font/FontsFree-Net-SFProText-Light-1.ttf);
}

img {
  max-width: 100%;
  height: auto;
}

.img-rpv {
  max-width: 100% !important;
  height: auto;
}

.resize {
  width: 18px;
  height: 18px;
}

.navbar-nav {
  font-family: SFProText;
  font-size: 12px;
  margin-left: 45px;
  padding: 0;
}

.navbar-brand {
  position: relative;
  bottom: 2px;
  left: 62px;
  font-size: 0;
  line-height: 44px;
  padding: 0;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar * {
  color: #f5f5f7 !important;
  line-height: 44px;
  padding: 0;
}

/* Search Bar  */

.search-bar {
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: 1;
}

/* Carousel Start */

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  opacity: 0;
}

#carouselExampleIndicators:hover .carousel-control-next,
#carouselExampleIndicators:hover .carousel-control-prev,
#carouselExampleIndicators:hover .carousel-indicators {
  opacity: 1;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  color: #fff;
}

#carouselExampleIndicators {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.carousel-inner {
  border-radius: 5px;
}
