.img-rpv {
  max-width: 100% !important;
  height: auto;
}

.resize {
  width: 45px;
  height: 45px;
}

.navbar-nav {
  margin-top: 3px !important;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

/* Search Bar  */

.search-bar {
  position: absolute;
  top: 64px;
  width: 100%;
  z-index: 1;
}

img {
  max-width: 100%;
  height: auto;
}

.carousel-control-next,
.carousel-control-prev,
.carousel-indicators {
  opacity: 0;
}

#carouselExampleIndicators:hover .carousel-control-next,
#carouselExampleIndicators:hover .carousel-control-prev,
#carouselExampleIndicators:hover .carousel-indicators {
  opacity: 1;
  text-shadow: 3px 3px 10px rgb(0, 0, 0);
  color: #fff;
}

#carouselExampleIndicators {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 65px;
}

.carousel-inner {
  border-radius: 5px;
}
